In [10]:
import pandas as pd
import numpy as np

In [11]:
column_names = ['user_id','item_id','rating','timestamp']
df = pd.read_csv('u.data',sep = '\t',names= column_names)

In [12]:
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [13]:
movie_titles = pd.read_csv("Movie_Id_Titles")
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [14]:
df = pd.merge(df,movie_titles,on='item_id')
df.head()

   user_id  item_id  rating  timestamp             title
0        0       50       5  881250949  Star Wars (1977)
1      290       50       5  880473582  Star Wars (1977)
2       79       50       4  891271545  Star Wars (1977)
3        2       50       5  888552084  Star Wars (1977)
4        8       50       5  879362124  Star Wars (1977)

In [16]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')
%matplotlib inline

In [21]:
df.groupby('title')['rating'].mean().sort_values(ascending = False).head(50)

title
Marlene Dietrich: Shadow and Light (1996)                                      5.000000
Prefontaine (1997)                                                             5.000000
Santa with Muscles (1996)                                                      5.000000
Star Kid (1997)                                                                5.000000
Someone Else's America (1995)                                                  5.000000
Entertaining Angels: The Dorothy Day Story (1996)                              5.000000
Saint of Fort Washington, The (1993)                                           5.000000
Great Day in Harlem, A (1994)                                                  5.000000
They Made Me a Criminal (1939)                                                 5.000000
Aiqing wansui (1994)                                                           5.000000
Pather Panchali (1955)                                                         4.625000
Anna (1996)                                                                    4.500000
Everest (1998)                                                                 4.500000
Maya Lin: A Strong Clear Vision (1994)                                         4.500000
Some Mother's Son (1996)                                                       4.500000
Close Shave, A (1995)                                                          4.491071
Schindler's List (1993)                                                        4.466443
Wrong Trousers, The (1993)                                                     4.466102
Casablanca (1942)                                                              4.456790
Wallace & Gromit: The Best of Aardman Animation (1996)                         4.447761
Shawshank Redemption, The (1994)                                               4.445230
Rear Window (1954)                                                             4.387560
Usual Suspects, The (1995)                                                     4.385768
Star Wars (1977)                                                               4.359589
12 Angry Men (1957)                                                            4.344000
Third Man, The (1949)                                                          4.333333
Letter From Death Row, A (1998)                                                4.333333
Bitter Sugar (Azucar Amargo) (1996)                                            4.333333
Citizen Kane (1941)                                                            4.292929
Some Folks Call It a Sling Blade (1993)                                        4.292683
To Kill a Mockingbird (1962)                                                   4.292237
One Flew Over the Cuckoo's Nest (1975)                                         4.291667
Silence of the Lambs, The (1991)                                               4.289744
North by Northwest (1959)                                                      4.284916
Godfather, The (1972)                                                          4.283293
Secrets & Lies (1996)                                                          4.265432
Good Will Hunting (1997)                                                       4.262626
Shall We Dance? (1996)                                                         4.260870
Manchurian Candidate, The (1962)                                               4.259542
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)    4.252577
Raiders of the Lost Ark (1981)                                                 4.252381
Vertigo (1958)                                                                 4.251397
Innocents, The (1961)                                                          4.250000
Kaspar Hauser (1993)                                                           4.250000
Crossfire (1947)                                                               4.250000
Titanic (1997)                                                                 4.245714
Lawrence of Arabia (1962)                                                      4.231214
Paths of Glory (1957)                                                          4.212121
Maltese Falcon, The (1941)                                                     4.210145
Empire Strikes Back, The (1980)                                                4.206522
Name: rating, dtype: float64

In [22]:
df.groupby('title')['rating'].count().sort_values(ascending = False).head(50)

title
Star Wars (1977)                                584
Contact (1997)                                  509
Fargo (1996)                                    508
Return of the Jedi (1983)                       507
Liar Liar (1997)                                485
English Patient, The (1996)                     481
Scream (1996)                                   478
Toy Story (1995)                                452
Air Force One (1997)                            431
Independence Day (ID4) (1996)                   429
Raiders of the Lost Ark (1981)                  420
Godfather, The (1972)                           413
Pulp Fiction (1994)                             394
Twelve Monkeys (1995)                           392
Silence of the Lambs, The (1991)                390
Jerry Maguire (1996)                            384
Chasing Amy (1997)                              379
Rock, The (1996)                                378
Empire Strikes Back, The (1980)                 368
Star Trek: First Contact (1996)                 365
Back to the Future (1985)                       350
Titanic (1997)                                  350
Mission: Impossible (1996)                      344
Fugitive, The (1993)                            336
Indiana Jones and the Last Crusade (1989)       331
Willy Wonka and the Chocolate Factory (1971)    326
Princess Bride, The (1987)                      324
Forrest Gump (1994)                             321
Monty Python and the Holy Grail (1974)          316
Saint, The (1997)                               316
Full Monty, The (1997)                          315
Men in Black (1997)                             303
Terminator, The (1984)                          301
E.T. the Extra-Terrestrial (1982)               300
Dead Man Walking (1995)                         299
Schindler's List (1993)                         298
Leaving Las Vegas (1995)                        298
Braveheart (1995)                               297
L.A. Confidential (1997)                        297
Terminator 2: Judgment Day (1991)               295
Conspiracy Theory (1997)                        295
Mr. Holland's Opus (1995)                       293
Birdcage, The (1996)                            293
Twister (1996)                                  293
Alien (1979)                                    291
When Harry Met Sally... (1989)                  290
Aliens (1986)                                   284
Shawshank Redemption, The (1994)                283
Groundhog Day (1993)                            280
Jaws (1975)                                     280
Name: rating, dtype: int64